/*Body*/
body {
    margin: 0;
    cursor: url("../images/index/poopcursor.png"),auto ;
    background-color: rgb(45,45,45);
    
}

/*BG Image*/
.backgroundImg{
    overflow: hidden;
    max-width: 100vw;
    position: relative;
    top:0;   
    z-index: -10;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

/*Header*/
.headerBG{
    position: absolute;
    display: block;
    width: 700px;
    height: 360px;
    left: 5%;
    top: 40%;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,80%), rgba(0,0,0,0%) );
    border-radius: 50px;
}

#header1{
    position: absolute;
    margin-top: 0px;
    margin-left: 25px; 

    color: rgb(255, 255, 255);
    font-family: 'ZCOOL XiaoWei', Arial ;
    font-size: 120px;

    transition: transform ease-in 0.4s;
    transform: translate(0px,0px);
}

#header2{
    position: absolute;
    margin-top: 135px;
    margin-left: 25px; 
    top: 0px;

    color: rgb(255, 255, 255);
    font-family: 'Tomorrow', 'Roboto';
    font-size: 80px;

    transition: transform ease-in 0.4s;
    transform: translate(0px,0px);
}

/*Slideshow*/
.slideshow {
    position: relative;
    top:0;
}

.gallery {
    display: none;
    margin-bottom: -10px;
}

.prev,
.next {
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 5px 5px 0;
  -webkit-user-select: none;
  z-index: 3;
}

.next{
    right: 0px;
    border-radius: 5px 0px 0px 5px;
}

.prev:hover,
.next:hover {
  background-color: rgba(163, 163, 163, 0.8);
}

.counter {
    color: #f2f2f2;
    font-size: 15px;
    padding: 10px 15px;
    position: absolute;
    background-color: rgba(46, 46, 46, 0.8);
    border-radius: 30px;
    top: 80px;
    left: 20px;
    z-index: 3;
  }
  
  .caption_div{
      text-align: center;
      background-color: rgb(70,70,70);
      padding: 30px 0px 20px 0px;
      top: -4px;
      z-index: 5;
      color: white;
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 25px;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 20%;
  }

  .peek {
      opacity: 0.6;
  }

  .active, .peek:hover{
      opacity: 1;
  }

  
